.search{
    .form-row{
        label {
            margin-top: 0.2em;
        }

        button {
            width: 100%;
        }
    }

    ph-year-picker{
        p{
            margin-bottom: 0;
        }
    }

}