<div class='search' ng-controller="searchController">

    <div class="title jumbotron">
        <h2 class="display-1">Publication Histogram</h2>
        <p class="lead">A histogram of publication (across years) based on queries from Europe PMC.</p>
    </div>

    <form>
        <div class="form-row">
            <div class="col-sm-5">
                <input type="text" class="form-control mb-2 mb-sm-0" id="inlineFormInputName" placeholder="Try DNA" ng-model="searchText">
            </div>
            from
            <div class="col-sm-2">
                <ph-year-picker start-year=startYear on-year-update="onStartYearUpdate(dt)"></ph-year-picker>
            </div>
            to
            <div class="col-sm-2">
                <ph-year-picker start-year=endYear on-year-update="onEndYearUpdate(dt)"></ph-year-picker>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary" ng-click="onSearch()">Search</button>
            </div>
        </div>
    </form>
</div>